.overlay
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);

    z-index: 5;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 15%;
    padding-bottom: 15%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-input > label
{
    color: #c0c0c0;
}

.overlay-input > input, textarea
{
    width: auto;
    background-color: #eeeeee;
    border-radius: 5px;
}

.overlay-content
{
    padding: 10px;
    border-radius: 5px;
}

.overlay-input
{
    padding: 5px;
    font-family: Montserrat;
    font-size: 15px;

    display: flex;
    flex-direction: column;

    left: 0;
    right: 0;
}

.overlay-button
{
    display: flex;
    flex-direction: row-reverse;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 10px;
}

.overlay-button > div
{
    border-radius: 5px;
    background-color: #c0c0c0;
    color: rgb(37, 37, 37);
    font-family: Montserrat;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    cursor: pointer;
    
    user-select: none;
    transition: all 0.15s ease-in-out;
}

.overlay-button > div:active
{
    background-color: #7c7c7c;
    color: rgb(209, 209, 209);
    
    transition: all 0.15s ease-in-out;
}

.overlay-input > *
{
    margin-left: 10px;
    margin-right: 10px;
}

textarea
{
    resize: none;
    height: 100px;
}